{% extends "base.html" %}
{% block content %}
    <div class='article'>
      <div class="row-fluid">
           <div class="content-title span11">
             <h1>{{ article.title }}</h1b>
           </div>
      </div>
    <div class="row-fluid">
      <div class="span3">
	{% include "article-sidebar.html" %}
      </div>
      
      <div class="span9">
	{{ article.content }}
	<hr />
      </div>
    </div>
    {% if article.category != "lab notebook" %}    
    <div class="span12">
      <h3>Comments</h3>

    {% include 'disqus.html' %}
    </div>  
    {% endif %}
    </div>
{% endblock %}
